@use 'src/shared/styles/globalStyles.scss';
@use 'src/shared/styles/colorStyles.scss';

.card {
  min-width: 200px !important;
  height: 100% !important;
  border: globalStyles.$border;

  .cardHeader {
    font-weight: bold;
  }

  .MuiCardHeader-root {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: globalStyles.$border;
    .MuiTypography-root {
      font-size: 18px;
    }
  }
  .MuiCardActions-root {
    border-top: globalStyles.$border;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .MuiButtonBase-root.MuiIconButton-root {
    color: black;
  }
  .MuiCollapse-root {
    border-top: globalStyles.$border;
  }
}

.selected {
  .MuiCardHeader-root {
    background-color: colorStyles.$active !important;
    color: white !important;
  }
  .headerButtons {
    .MuiButtonBase-root.MuiIconButton-root {
      color: white;
      .MuiSvgIcon-colorSuccess {
        &.MuiSvgIcon-root {
          color: colorStyles.$completed;
        }
      }
    }
  }
}
