@use 'src/shared/styles/globalStyles.scss';
@use 'src/shared/styles/colorStyles.scss';

.card {
  min-width: 200px !important;
  height: 100% !important;

  .cardHeader {
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
    box-shadow: colorStyles.$shadow;
  }
  & .MuiBadge-badge {
    background-color: green;
    color: white;
  }
}

.selected {
  background-color: colorStyles.$selected !important;
}
