.dialogContainer {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the dialog content takes the full height of the dialog */
  position: relative; /* Required for positioning the sticky footer */
}

.dialogContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow the middle content to take available space */
  padding: 16px; /* Adjust the padding as needed */
  overflow-y: auto; /* Enable vertical scrolling for the content */
}

.footer {
  padding: 16px; /* Adjust the padding as needed */
  border-top: 1px solid #ccc; /* Optional: Add a separator between content and footer */
  position: sticky;
  bottom: 0;
  background-color: #fff; /* Optional: Add background color for the sticky footer */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  margin: 8px;
}

.info {
  margin-left: 8px;
}
