.logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.careerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(30% + var(--mantine-spacing-md)) !important;
  span {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
}
