.logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}

.logoMobile {
  flex: none !important;
}

.container {
  display: flex;
  justify-content: space-between;
}

.chevron {
  &:hover {
    background: none !important;
  }
}

.avatars {
  display: flex;
  gap: 8px;
  padding-left: 8px;
}

.navCenter {
  > div {
    > div {
      display: flex;
      justify-content: center;
      gap: 0;
      align-items: center;
    }
  }
}

.navCenterMobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
