.testHeader {
  gap: 24px;
}

.workLifeCheckbox {
  width: 50%;
  display: flex;
  align-items: center;
}

.result {
  width: 100vh;
}

.loader {
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 25rem;
  width: 100%;
}
