/* src/App.css */
// magnifying glass from <a target="_blank" href="https://icons8.com/icon/12773/search">Magnifying Glass</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typeWriter {
  margin-bottom: 20px;
}
