:root {
  --amplify-components-button-primary-background-color: #042a4a;
  --amplify-components-tabs-item-active-color: #042a4a;
  --amplify-components-tabs-item-active-border-color: #042a4a;
  --amplify-components-text-error-color: red;
  --amplify-components-fieldcontrol-error-border-color: red;
  --amplify-components-fieldcontrol-focus-border-color: #042a4a;
  --amplify-components-radio-button-checked-color: #042a4a;
  --amplify-components-button-link-color: #042a4a;
  --amplify-components-button-link-active-background-color: #f1f7ff;
  --amplify-internal-button-background-color: #f1f7ff;
  --amplify-components-button-active-background-color: #f1f7ff;
  --amplify-components-tabs-item-hover-color: #0b356e;
}

.loginContainer {
  [data-amplify-authenticator] [data-amplify-container] {
    width: 100%;
  }
  [data-amplify-authenticator-signup] {
    padding-top: var(--mantine-spacing-md);
    > fieldset {
      > button {
        width: 50%;
        display: flex;
        align-self: flex-end;
      }
      > div {
        div {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.listContent {
  padding-left: calc(var(--mantine-spacing-md) + 24px) !important;
}

.signUpHeader {
  display: flex;
  justify-content: space-between;
}

.authenticatorFields {
  display: flex;
  gap: var(--mantine-spacing-md);
  flex-direction: column;
}

.signUpContainer {
  > div {
    width: 50%;
  }
}

.signUpHeader {
  display: flex;
  justify-content: center;
  padding-top: calc(16px + var(--mantine-spacing-md)) !important;
}
