.stepper {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  justify-content: center;
  .MuiStepper-root {
    display: flex;
    flex: 1;
    .MuiStepContent-root {
      font-size: 12px;
    }
    .MuiStepLabel-label {
      font-size: 16px;
    }
  }
}
