.container {
  background-color: white;
  margin-top: var(--mantine-spacing-sm);
  border-radius: 15px;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.indicator {
  width: 10px;
  height: 4px;
  transition: width 250ms ease;
  background-color: var(--mantine-color-navy-5) !important;
  &[data-active] {
    width: 3rem;
    background-color: var(--mantine-color-navy-9);
  }
}

.title {
  display: flex;
  width: 100% !important;
  gap: var(--mantine-spacing-xs) !important;
  justify-content: center;
  padding-bottom: var(--mantine-spacing-md);
  > h1 {
    font-size: 1.5rem;
    @media (max-width: 750px) {
      font-size: 1rem !important;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  @media (min-width: 750px) {
    > div {
      width: 60%;
    }
  }
}
