.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
}

.textContainer {
  padding-left: calc(var(--mantine-spacing-xl) * 1.5) !important;
}

.descriptionText {
  color: var(--mantine-color-gray-7);
}

@media screen and (max-width: 48em) {
  .main {
    flex-direction: column;
  }

  .image {
    padding-bottom: var(--mantine-spacing-xl);
  }
}
