.container {
  background-color: white;
  margin-top: var(--mantine-spacing-sm);
  border-radius: 15px;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.indicator {
  width: 10px;
  height: 4px;
  transition: width 250ms ease;
  background-color: var(--mantine-color-navy-5) !important;
  &[data-active] {
    width: 3rem;
    background-color: var(--mantine-color-navy-9);
  }
}

.title {
  display: flex;
  width: 100% !important;
  gap: var(--mantine-spacing-xs) !important;
  justify-content: center;
  padding-bottom: var(--mantine-spacing-md);
  > h1 {
    font-size: 1.5rem;
  }
}

// .titleContainer {
//   display: flex;
//   gap: 1rem;
//   width: 100%;

//   .title {
//     margin: 0;
//     padding: 0;
//     color: black;
//     display: flex;
//     flex-direction: column;
//     font-size: 2rem !important;

//     @media (max-width: 750px) {
//       // font-size: 2rem !important;
//       text-align: center;
//     }
//   }
//   .description {
//     font-size: 1.5rem !important;
//     @media (max-width: 750px) {
//       font-size: 1rem !important;
//       text-align: center;
//     }
//   }
// }

.slide {
  display: flex;
  flex-direction: column;
  @media (min-width: 750px) {
    > div {
      width: 60%;
    }
  }
}
