.hoverItem {
  &:hover {
    cursor: pointer;
    box-shadow: var(--mantine-shadow-md);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  align-items: center;
  @media (max-width: 750px) {
    flex-direction: column;
    display: flex;
    > div {
      width: 100% !important;
    }
  }
}

.lightNavyBg {
  background-color: var(--mantine-color-navy-0) !important;
  > span {
    color: black;
  }
}

.navyBg {
  background-color: var(--mantine-color-navy-5) !important;
  > span {
    color: white;
  }
}

.disabled {
  &:hover {
    cursor: not-allowed;
  }
}

.navTile {
  &:hover {
    background-color: var(--mantine-color-navy-5) !important;
    color: white;
  }
  display: flex;
  justify-content: center;
}

.spaceBetweenRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileNavbar {
  > div {
    > span {
      font-size: 1.2rem;
    }
  }
}
