.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleText {
  padding-top: var(--mantine-spacing-md) !important;
  padding-bottom: var(--mantine-spacing-md) !important;
  font-size: var(--mantine-font-size-xl) !important;
}

.cardGroup {
  display: flex !important;
  flex-direction: column !important;
  @media (max-width: 750px) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
