@use 'src/shared/styles/globalStyles.scss';
@use 'src/shared/styles/colorStyles.scss';

.refinementCard {
  min-width: 200px !important;
  .cardHeader {
    font-weight: bold;
    border-bottom: globalStyles.$border;
  }
  &:hover {
    cursor: pointer;
    box-shadow: colorStyles.$shadow;
  }
}

.selected {
  background-color: colorStyles.$selected !important;
}
