.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 0;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
}

.textContainer {
  flex: 3;
  padding: 0;
}

.titleText {
  padding-bottom: var(--mantine-spacing-sm);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mantine-color-gray-9);
}

.descriptionText {
  color: var(--mantine-colors-gray-7);
}

.image {
  flex: 1;
  height: 25vh;
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  padding-right: calc(var(--mantine-spacing-xl) * 2);
}
