.grayBackground {
  background: var(--mantine-color-gray-0);
}

.main {
  background: white;
  max-width: none !important;

  .innerContainer {
    display: flex;
    flex: 1;
    padding: 0;

    .titleContainer {
      flex: 1;

      .title {
        margin: 0;
        padding: 0;
        color: black;
        display: flex;
        flex-direction: column;
        font-size: 3.5rem !important;
        font-weight: 'bold' !important;
      }
    }

    .imageContainer {
      flex: 1;
    }
  }
}

@media screen and (max-width: 48em) {
  .innerContainer {
    flex-direction: column;
  }

  .imageContainer {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  }
}
