@use 'src/shared/styles/colorStyles.scss';

.refinementCard {
  &:hover {
    box-shadow: 0 0 8px colorStyles.$shadow;
    cursor: pointer;
  }
}

.selected {
  background-color: colorStyles.$selected;
}
