.container {
  display: flex;
  gap: 24px;
}

.card {
  background: var(--mantine-colors-blue-0);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  flex: 1;
}

.withSpacing {
  margin-left: var(--mantine-spacing-lg);
  margin-right: var(--mantine-spacing-lg);
}

.iconContainer {
  margin: 0;
  padding-left: var(--mantine-spacing-sm);
  padding-right: calc(var(--mantine-spacing-sm) * 2);
}

.textContainer {
  padding-top: var(--mantine-spacing-sm);
}

.title {
  padding-bottom: var(--mantine-spacing-sm);
  //   font-size: rem(18);
  font-weight: bold;
  //   line-height: 1.1;
  color: var(--mantine-color-gray-9);
  text-align: center;
}

.description {
  //   font-size: 15rem;
  text-align: center;
}
