@import 'src/shared/styles/commonStyles.module.scss';

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--app-shell-header-height));
  align-items: center;
}

.left {
  flex: 1;
  justify-content: center !important;
}

.right {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  flex: 4;
}

.icon {
  width: 60px;
  height: 60px;
}
