@import 'src/shared/styles/commonStyles.module.scss';

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--app-shell-header-height));
  align-items: center;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  flex-direction: column;
  text-align: center;
}
